In [2]:
import yfinance as yf
import pandas as pd
import numpy as np

In [7]:
al = yf.download(
        tickers = "ALI=F",
        start="2015-01-01",
        end="2021-11-17",
        interval = "3mo",
        group_by = 'ticker',
    )

[*********************100%***********************]  1 of 1 completed

In [8]:
al

               Open     High      Low    Close  Adj Close  Volume
Date
2014-12-01  2168.50  2311.75  2067.25  2071.50    2071.50     283
2015-06-01  1867.75  1867.75  1601.50  1688.50    1688.50     268
2015-09-01  1690.00  1722.50  1554.50  1602.50    1602.50     334
2015-12-01  1630.25  1698.25  1584.50  1656.00    1656.00     543
2016-03-01  1653.75  1734.75  1572.75  1609.75    1609.75     887
2016-06-01  1618.00  1741.25  1594.25  1659.75    1659.75     799
2016-09-01  1658.00  1895.25  1638.25  1858.50    1858.50     425
2016-12-01  1842.00  2018.25  1790.00  2018.25    2018.25     563
2017-03-01  2044.75  2047.75  1936.00  2017.25    2017.25     894
2017-06-01  2016.75  2169.00  1928.25  2169.00    2169.00     140
2017-09-01  2194.75  2240.25  2131.00  2239.50    2239.50      20
2017-12-01  2239.50  2255.00  2239.50  2255.00    2255.00       0
2018-03-01  2255.00  2305.00  2255.00  2305.00    2305.00       0
2018-06-01  2305.00  2318.75  2305.00  2318.75    2318.75       0
2018-09-01  2318.75  2332.50  2318.75  2332.50    2332.50       0
2018-12-01  2332.50  2332.50  2225.00  2225.00    2225.00       0
2019-03-01  2225.00  2225.00  2225.00  2225.00    2225.00       0
2019-06-01  2225.00  2225.00  1758.00  1758.00    1758.00       0
2020-06-01  1535.75  1777.25  1535.75  1777.25    1777.25      17
2020-09-01  1793.00  2029.75  1732.75  2029.75    2029.75     108
2020-12-01  2052.75  2253.25  1929.50  2182.50    2182.50      35
2021-03-01  2146.25  2555.25  2146.25  2519.50    2519.50      22
2021-06-01  2493.00  2746.25  2401.75  2746.25    2746.25       0
2021-09-01  2717.50  3202.50  2540.50  2540.50    2540.50       0

In [9]:
mp = yf.download(
        tickers = "1532.TW",
        start="2015-01-01",
        end="2021-11-17",
        interval = "3mo",
        group_by = 'ticker',
    )

[*********************100%***********************]  1 of 1 completed

In [11]:
mp.dropna()

                 Open       High        Low      Close  Adj Close       Volume
Date
2014-12-01  30.299999  33.500000  29.850000  32.900002  22.879868   29608000.0
2015-03-01  32.849998  32.849998  28.250000  28.700001  19.959034   25879000.0
2015-06-01  28.799999  29.850000  20.549999  22.900000  15.925499   36347000.0
2015-09-01  23.200001  29.549999  22.950001  26.150000  19.251234   27021000.0
2015-12-01  26.100000  27.299999  23.700001  26.400000  19.435284   10684000.0
2016-03-01  26.500000  39.349998  25.500000  36.950001  27.202034  131337000.0
2016-06-01  37.000000  43.200001  29.799999  30.500000  22.453640  104699000.0
2016-09-01  30.500000  33.799999  29.549999  33.400002  26.014986   31730000.0
2016-12-01  33.599998  35.450001  30.799999  32.250000  25.119259   33918000.0
2017-03-01  32.250000  33.400002  28.049999  29.049999  22.626806   38840000.0
2017-06-01  29.250000  32.549999  29.100000  31.600000  24.612980   48644528.0
2017-09-01  31.600000  31.900000  26.400000  27.450001  22.570333   25803778.0
2017-12-01  27.500000  29.450001  26.700001  29.049999  23.885908   19078556.0
2018-03-01  28.700001  31.900000  27.450001  29.750000  24.461472   29194651.0
2018-06-01  29.750000  32.099998  27.700001  31.400000  25.818159   33495779.0
2018-09-01  31.400000  34.299999  28.450001  31.049999  26.922943   51725805.0
2018-12-01  32.150002  40.700001  32.000000  37.900002  32.862469   89697660.0
2019-03-01  37.900002  40.599998  33.650002  35.349998  30.651400   57387565.0
2019-06-01  35.049999  36.599998  30.049999  30.299999  26.272631   29275792.0
2019-09-01  30.400000  32.849998  30.150000  31.049999  29.079975   16782145.0
2019-12-01  31.350000  31.450001  28.500000  29.000000  27.160040   13043580.0
2020-03-01  28.549999  29.400000  20.700001  27.850000  26.083006   30468208.0
2020-06-01  27.850000  30.549999  25.700001  26.799999  25.099623   25574976.0
2020-09-01  26.850000  35.700001  26.600000  34.750000  33.671913   90900112.0
2020-12-01  34.700001  34.799999  29.700001  32.049999  31.055677   33409469.0
2021-03-01  32.049999  39.549999  29.900000  33.150002  32.121552   77443313.0
2021-06-01  33.450001  34.900002  30.950001  32.900002  31.879309   32867500.0
2021-09-01  34.450001  37.150002  30.200001  32.049999  32.049999   42440153.0